<div
    class="font-skateHeading fixed flex w-full items-center justify-between px-20 py-3 text-slate-300"
>
    <a href="#"
        ><h2
            class="text-3xl duration-200 hover:cursor-pointer hover:text-white"
        >
            Skateboarding
        </h2></a
    >
    <ul class="flex gap-10 text-3xl">
        <a href="#" class="duration-200 hover:cursor-pointer hover:text-white"
            >Boards</a
        >
        <a href="#" class="duration-200 hover:cursor-pointer hover:text-white"
            >Parts</a
        >
        <a href="#" class="duration-200 hover:cursor-pointer hover:text-white"
            >Apparel</a
        >
        <a href="#" class="duration-200 hover:cursor-pointer hover:text-white"
            >Tricks</a
        >
    </ul>
</div>
