<div
    class="fixed z-50 flex w-full items-center justify-between px-20 py-3 font-skateHeading text-slate-300"
>
    <a href="#"
        ><h2
            class="text-3xl duration-200 hover:cursor-pointer hover:text-white"
        >
            SKATEBOARDING
        </h2></a
    >
    <ul class="flex gap-10 text-3xl">
        <a href="#" class="duration-200 hover:cursor-pointer hover:text-white"
            >BOARDS</a
        >
        <a href="#" class="duration-200 hover:cursor-pointer hover:text-white"
            >PARTS</a
        >
        <a href="#" class="duration-200 hover:cursor-pointer hover:text-white"
            >APPAREL</a
        >
        <a href="#" class="duration-200 hover:cursor-pointer hover:text-white"
            >TRICKS</a
        >
    </ul>
</div>
