---
import Swiper from "swiper/bundle";
import "swiper/css/bundle";
---

<section class="bg-slate-700">
    <div class="container">
        <div class="flex h-96 items-center justify-center text-slate-300">
            <h2 class="font-skateHeading text-5xl">APPAREL</h2>
        </div>

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="h-full w-full overflow-hidden rounded-3xl">
                        <img
                            src="/images/SkateboardingImage1.jpg"
                            alt="Its a skaterboarder!!!"
                        />
                    </div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                ...
            </div>
        </div>
        <div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>

<style>
    .swiper {
        width: 600px;
        height: 300px;
    }
</style>

<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script is:inline>
    const swiper = new Swiper(".swiper", {
        // Optional parameters
        direction: "horizontal",
        loop: true,

        // If we need pagination
        pagination: {
            el: ".swiper-pagination",
        },

        // Navigation arrows
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
