<section class="bg-slate-700 py-32">
    <div class="container">
        <div
            class="flex flex-col items-center gap-10 text-slate-300"
            id="boards"
        >
            <div>
                <h2
                    id="boardsTitle"
                    class="-translate-y-10 font-skateHeading text-5xl uppercase opacity-0"
                >
                    Boards
                </h2>
            </div>
            <div class="flex">
                <img
                    src="/images/SkateboardingImage1.jpg"
                    id="boardImage"
                    class="customDesignLeft aspect-square h-96 w-auto -translate-x-10 object-cover opacity-0"
                />
                <img
                    src="/images/SkateboardingImage1.jpg"
                    id="boardImage"
                    class="customDesignCenter aspect-square h-96 w-auto translate-y-10 object-cover opacity-0"
                />
                <img
                    src="/images/SkateboardingImage1.jpg"
                    id="boardImage"
                    class="customDesignRight aspect-square h-96 w-auto translate-x-10 object-cover opacity-0"
                />
            </div>
        </div>
    </div>
</section>

<style>
    .customDesignLeft {
        clip-path: polygon(
            100% 0%,
            75% 50%,
            100% 100%,
            25% 100%,
            0% 50%,
            25% 0%
        );
    }

    .customDesignCenter {
        clip-path: polygon(
            25% 0%,
            75% 0%,
            100% 50%,
            75% 100%,
            25% 100%,
            0% 50%
        );
    }

    .customDesignRight {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }
</style>

<script>
    import { inView, animate, timeline, stagger } from "motion";

    inView("#boards", () => {
        const title = document.querySelector("#boardsTitle");
        const boardImages = document.querySelectorAll("#boardImage");
        const staggeredAnim = [
            [title, { transform: "none", opacity: 1 }, { duration: 0.5 }],
            [
                boardImages,
                { transform: "none", opacity: 1 },
                { delay: stagger(0.3), duration: 1 },
            ],
        ];
        timeline(staggeredAnim, { delay: 1 });
    });
</script>
