<section id="boards">
    <div
        class="flex flex-col items-center gap-10 bg-slate-700 py-20 text-slate-300"
    >
        <div>
            <h2 class="font-skateHeading -translate-y-5 text-5xl opacity-0">
                Boards
            </h2>
        </div>
        <div class="flex">
            <img
                src="../../../public/images/SkateboardingImage1.jpg"
                id="customDesignLeft"
                class="w-96 -translate-y-5 opacity-0"
            />
            <img
                src="../../../public/images/SkateboardingImage1.jpg"
                id="customDesignCenter"
                class="w-96 -translate-y-5 opacity-0"
            />
            <img
                src="../../../public/images/SkateboardingImage1.jpg"
                id="customDesignRight"
                class="w-96 -translate-y-5 opacity-0"
            />
        </div>
    </div>
</section>

<script>
    import { inView, animate } from "motion";

    inView("#boards", ({ target }) => {
        animate(
            target.querySelector("h2")!,
            { opacity: 1, transform: "none" },
            { delay: 0.2, duration: 1, easing: "ease-in-out" },
        );
        animate(
            target.querySelectorAll("img")!,
            { opacity: 1, transform: "none" },
            { delay: 0.2, duration: 1, easing: "ease-in-out" },
        );
    });
</script>
