<header>
    <div
        class="flex h-screen items-center justify-center bg-slate-800 text-slate-300"
    >
        <h1 class="-translate-y-5 font-skateHeading text-9xl opacity-0">
            SKATEBOARDING
        </h1>
    </div>
</header>

<script>
    import { inView, animate } from "motion";

    inView("header", ({ target }) => {
        animate(
            target.querySelector("h1")!,
            { opacity: 1, transform: "none" },
            { delay: 0.2, duration: 1, easing: "ease-in-out" },
        );
    });
</script>
