<div
    class="flex h-96 flex-col items-center justify-center bg-slate-700 text-slate-300"
>
    <h2 class="font-skateHeading text-5xl">Parts</h2>
    <img
        src="/images/Skateboard.webp"
        class="w-32 -translate-x-80"
        id="skate"
    />
</div>

<script>
    import { inView, timeline } from "motion";

    inView("#skate", () => {
        const imga = document.querySelector("#skate");
        const seq = [
            [imga, { transform: "none" }, { duration: 5 }],
            [
                imga,
                {
                    transform: [
                        "rotate(180deg)",
                        "translateX(100px)",
                        "rotate(180deg)",
                        "none",
                    ],
                },
                { duration: 5, at: "+1" },
            ],
        ];
        timeline(seq, { delay: 1, duration: 2 });
    });
</script>
