---
import Layout from "../layouts/layout.astro";
import Header from "../components/sections/header.astro";
import Boards from "../components/sections/boards.astro";
import Parts from "../components/sections/parts.astro";
import Apparel from "../components/sections/apparel.astro";
import Tricks from "../components/sections/tricks.astro";
---

<Layout title="Stakeboarding | Home">
	<main>
		<Header />
		<Boards />
		<Parts />
		<Apparel />
		<Tricks />
	</main>
</Layout>
